<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<title>Document</title>
    <link rel="stylesheet" href="../../statics/css/reset.css">
    <link rel="stylesheet" href="../../statics/css/style.css">
    <script src="../../statics/js/jquery-1.11.0.min.js"></script>
    <script src="../../statics/js/jquery.validate.min.js"></script>
    <script src="../../statics/js/corporate/corp-forget-psd.js"></script>
    <style>
        .hide {
            display: none;
        }

    </style>
</head>
<body>
	<div class="nav">
		<div class="container">
			<h1>
				<a href="javascript:;"><img src="../../statics/images/logo.png" alt=""></a>
			</h1>
			<a href="${ctx}/corporate/corporateLoginIndex.do" class="fr">返回首页</a>
		</div>
	</div>
	<div class="container">
		<div class="tit">
			<h2>密码重置</h2>
		</div>
		<div class="container_regist editpwd_con">
			<div class="pgsbar">
				<div class="pgsbar_t">
					<span class="redbg">1</span>
					<img src="../../statics/images/pgsbaricon3.png" alt="">
					<span class="graybg">2</span>
					<img src="../../statics/images/pgsbaricon3.png" alt="">
					<span class="graybg">3</span>
					<img src="../../statics/images/pgsbaricon3.png" alt="">
					<span class="graybg">4</span>
				</div>
				<em class="cur">确认账户</em>
				<em>安全验证</em>
				<em>重置密码</em>
				<em>完成</em>
			</div>
            <input type="hidden" value="${corpId}" id="corpId">
            <input type="hidden" value="${certKey}" id="certKey">
            <!-- 第一步 验证用户账号信息-->
			<div class="logon_c cregist_c editpwd" id="forget-step1">
                <form id="accountValidateForm">
                    <ul>
                        <li>
                            <p class="adasd">
                                <i class="usericon"></i>
                                <input type="text" class="txt username" placeholder="用户名/统一社会信用代码" id="legalAccount" name="legalAccount">
                                <em></em>
                            </p>
                            <span style="width: 50px;display: inline-block;">123</span>
                            <span class="warn userwarn"></span>
                        </li>
                        <li>
                            <p class="vdcode">
                                <i class="vdicon"></i>
                                <input  class="txt vdtxt" type="text" placeholder="请输入验证码"  id="legalCode" name="legalCode" maxlength="4"/>
                                <em></em>
                                <span><img onclick="this.src='${ctx}/verify/verifyCodeImg.do?rnd=' + Math.random();" src="${ctx}/verify/verifyCodeImg.do" width="77" height="37" class="get_code" id="createCodeBtn"/></span>
                            </p>
                            <span class="warn"></span>
                        </li>
                    </ul>
                </form>
				<a href="javascript:void(0);" class="loginbtn colblue mt45" id="legalAccountSubmit">下一步</a>
			</div>
            <!-- 第二步 选择验证方式-->
            <div class="high hide" id="forget-step2">
                <h2 class="rzbtn">您正在为<span class="colblur desensitizationAccountNo"></span>找回密码，请选择验证方式</h2>
                <ul>
                    <li>
                        <div class="fl">
                            <h3>通过手机找回</h3>
                            <p>如果您的手机<span class ="desensitizationMobilePhone"></span>还在正常使用请选择此方式</p>
                        </div>
                        <a href="javascript:void(0);" id="forwardFind" class="fr mt5">前往找回</a>
                    </li>
                    <%--<li>
                        <div class="fl">
                            <h3>通过人工找回</h3>
                            <p>填写申请单，上传神风证件图片，我们将会在48小时内受理，请您耐心等待！</p>
                        </div>
                        <a href="artappeal.html" class="fr mt5">前往找回</a>
                    </li>--%>
                </ul>
                <a href="javascript:void(0);" id="rtnLastStep" class="loginbtn colgray backgray">返回上一步</a>
            </div>
            <!-- 第三步 验证身份-->
            <div class="logon_c cregist_c editpwd hide" id="forget-step3">
                <ul>
                    <li class="editpwdp">
                        您正在使用的是<span class="colblur">手机</span>校验重置密码，账号用户名为：<span class="desensitizationAccountNo"></span><br>
                        <%--您的手机号码为：<span class="desensitizationMobilePhone"></span>--%>
                    </li>
                    <li class="editpwdp">
                        您注册用的手机号码：<span class="desensitizationMobilePhone"></span>
                    </li>
                    <li>
                        <p>
                            <i class="phoneicon"></i>
                            <input type="text" class="txt phone" id="corporateMobile" name="corporateMobile" placeholder="请输入您注册时的手机号" maxlength="11">
                            <em></em>
                        </p>
                        <span class="warn phonewarn"></span>
                    </li>
                    <li>
                        <p class="vdcode">
                            <i class="vdicon"></i>
                            <input type="text" class="txt vdtxt" placeholder="请输入6位验证码" id="forgetPsdMobileCode" name="forgetPsdMobileCode">
                            <input type="button" class="get_code" id="btnSendCode" value="获取短信验证码"/>
                        </p>
                        <span class="warn vdwarn"></span>
                    </li>
                </ul>
                <a href="javascript:void(0);" class="loginbtn colblue mt45" id="mobileVerifySubmit">下一步</a>
                <div class="editpwd_btm">
                    <h3>没有收到短信？</h3>
                    <p>先检查是否在垃圾短信中，如果还未收到请再次获取验证码</p>
                    <a href="javascript:void(0);" id="reSelectType">重新选择验证方式></a>
                </div>
            </div>
            <!-- 第四步 修改密码-->
            <div class="logon_c cregist_c editpwd hide" id="forget-step4">
                <form id="passwordForm">
                    <ul>
                        <li class="editpwdp">
                            您正在重置密码的帐号用户名为：<span class="desensitizationAccountNo"></span>
                        </li>
                        <li>
                            <p>
                                <i class="pwdicon"></i>
                                <input type="password" class="txt password" placeholder="密码，8-16位数字/字母/特殊符号（空格除外）" id="newPassword" name="newPassword" >
                            </p>
                            <span class="warn pwdwarn"></span>
                        </li>
                        <li>
                            <p>
                                <i class="repwdicon"></i>
                                <input type="password" class="txt repassword" placeholder="确认重置密码" id="confirmNewPassword" name="confirmNewPassword">
                            </p>
                            <span class="warn repwdwarn"></span>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="loginbtn colblue mt45" id="passwordSubmit">确认重置</a>
                </form>
            </div>
            <!-- 第五步 成功-->
            <div class="logon_c cregist_c suc_submit editpwd suc_replace hide" id="forget-step5">
                <h2 style="width:130px;">您已密码重置成功！</h2>
                <p>请牢记新的登录密码！立即<a href="${ctx}/corporate/corporateLoginIndex.do">前往登录</a></p>
                <a href="javascript:void(0);" id="successGo">3秒后自动跳转...</a>
            </div>
		</div>
	</div>
	<div class="bottom"></div>
</body>
</html>