<%@ page contentType="text/html;charset=UTF-8" %>
<%@include file="/WEB-INF/views/taglib.jsp"%>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<title>法人注册</title>
    <link rel="stylesheet" href="../../statics/css/reset.css">
    <link rel="stylesheet" href="../../statics/css/style.css">
    <script src="../../statics/js/jquery/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="nav">
		<div class="container">
			<h1>
				<a href="javascript:;"><img src="../../statics/images/logo.png" alt=""></a>
			</h1>
			<a href="../login/login.html" class="fr">返回首页</a>
		</div>
	</div>
	<div class="container">
		<div class="tit">
			<h2>
                注册成功
				<span class="fr tel">法人认证服务专线：400-890-098</span>
			</h2>
		</div>
		<div class="pgsbar_legal artrz_pgsbar_legal">
            <ul>
                <li class="cur">
                    <em>1</em>
                    <h3>信息认证</h3>
                </li>
                <li class="cur">
                    <em>2</em>
                    <h3>创建用户</h3>
                </li>
                <li class="cur">
                    <em>3</em>
                    <h3>注册成功</h3>
                </li>
            </ul>
		</div>
		<dl class="finish_creat">
			<dt><img src="../../statics/images/success.png" alt=""></dt>
            <dd><h2>恭喜您，注册账号成功，请前往首页进行登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../login/login.html">前往登录</a></h2><br>
<b>联系电话：400-890-098</b></dd>
		</dl>
	</div>
	<div class="bottom"></div>
</body>
</html>